@import '../../utils/styles/mixins/onDesktop';

.selectedPicture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background-color: #222;

  @include onDesktop {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  &__closeButton {
    align-self: end;

    width: 30px;
    height: 30px;
    margin-bottom: 10px;

    background-image: url(../../images/closeIcon.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: rgb(69, 69, 69);
    }

    @include onDesktop {
      align-self: start;
      margin-bottom: 0;
    }
  }

  &__content {
    width: 100vw;
    max-height: 90%;

    @include onDesktop {
      width: max-content;
      //padding-30px:
      max-height: calc(100% + 2 * 30px);
      height: 100vh;

      margin-right: 10px;
    }
  }
}
